# Neon Database URL (set in Cloudflare Dashboard > Pages > Settings > Environment variables)
NEON_DATABASE_URL=postgresql://neondb_owner:npg_VXmWIs2zd8Dn@ep-billowing-flower-a1w155rk-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Neon Auth URL
NEON_AUTH_URL=https://ep-billowing-flower-a1w155rk.neonauth.ap-southeast-1.aws.neon.tech/neondb/auth
