---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero';
import PathApp from '../../components/path/PathApp';

---

<Layout title="Learning Path - Jagoan Zaidev">
  <main>
    <Hero client:load />
    <PathApp client:load />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }
</style>
