---
import Layout from '../layouts/Layout.astro';
import ModeSelection from '../components/layout/ModeSelection';
import LoginChoiceDialog from '../components/layout/LoginChoiceDialog';
import HomeRouter from '../components/HomeRouter';

---

<Layout title="Jagoan Zaidev - Belajar Server dari Nol">
  <main>
    <HomeRouter client:load />
    <ModeSelection client:load />
    <LoginChoiceDialog client:load />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }
</style>
