---
import Layout from '../layouts/Layout.astro';
import { useMemo } from 'astro';
import Hero from '../components/Hero';
import Introduction from '../components/Introduction';
import GoldenRules from '../components/GoldenRules';
import Footer from '../components/Footer';
import App from '../components/App';
---

<Layout title="Jagoan Zaidev - Belajar Server dari Nol">
  <main>
    <Hero />
    <Introduction />
    <GoldenRules />
    <Footer />
    <App client:load />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }
</style>
