---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Introduction from '../components/Introduction';
import GoldenRules from '../components/GoldenRules';
import Footer from '../components/Footer';
import ModeSelection from '../components/layout/ModeSelection';
import LoginChoiceDialog from '../components/layout/LoginChoiceDialog';

---

<Layout title="Jagoan Zaidev - Belajar Server dari Nol">
  <main>
    <Hero client:load />
    <Introduction />
    <GoldenRules />
    <Footer />
    <ModeSelection client:load />
    <LoginChoiceDialog client:load />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }
</style>
