---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Tempat paling asik dan gampang dipahami buat belajar server dari nol.' } = Astro.props;
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>
